:root {
    --body-background-color: #ffffff;
    --body-text-color-1: rgba(60, 60, 67, .90);
    --body-text-color-2: rgba(60, 60, 67, .60);
    --font-family-base: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: var(--body-text-color-1);
    background-color: var(--body-background-color);
    font-family: var(--font-family-base);
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-position: outside;
}

/* LAYOUT */

header {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

header h2 {
    color: var(--body-text-color-2);
}

section {
    padding-bottom: 3rem;
}

article strong {
    color: var(--body-text-color-2);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid .col {
    flex: 0 0 calc(100% / 1);
    max-width: calc(100% / 1);
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1200px) {
    .grid .col {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
}
